<!-- 
    <footer>
        <div>
            <span style="top: 200px;">CopyRight 2023</span>
        </div>
    </footer> -->

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Prologic Tunisie</h3>
                        <p>Fruit de 35 ans d’expérience dans le conseil, la vente et le service, la société d’informatique PROLOGIC Tunisie est aujourd’hui l’un des leaders incontestés du marché des Equipements & des Services Informatiques.
                            Créée en 1985 par des experts et des passionnés de nouvelles technologies, PROLOGIC Tunisie est une société anonyme de service à haute valeur ajoutée dotée d’un capital de 3.415.500DT.
                            Notre entreprise d’administration système PROLOGIC Tunisie accompagne ainsi les grandes, les petites et les moyennes entreprises dans la conception, le développement, l’exploitation et la maintenance de solutions, nécessitant la mise en œuvre des nouvelles technologies de l’information.
                            </p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Prologic Tunisie © 2023</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>